# For documentation, see: https://docs.gitlab.com/ee/user/project/codeowners/
#
# *** NOTE ***
#   KEEP THE LISTS OF INDIVIDUAL CODEOWNERS/TEAMS IN ALPHABETICALLY SORTED ORDER
#


#
## MAPPING of GitHub USERNAME to PERSON in ALPHABETICAL ORDER on username
#
# @DejunL - Dejun Lin
# @broland-hat - Brian Roland
# @cspades - Cory Ye
# @dorotat-nv - Dorota Toczydlowska
# @farhadrgh - Farhad Ramezanghorbani
# @guoqing-zhou - Guoqing Zhou
# @gwarmstrong - George Armstrong
# @jomitchellnv - Jonathan Mitchell
# @jstjohn - John St. John
# @jwilber  - Jared Wilber
# @kdidiNVIDIA - Kieran Didi
# @malcolmgreaves - Malcolm Greaves
# @ntadimeti - Neha Tadimeti
# @nv-mcclure - Zachary McClure
# @nvdreidenbach - Danny Reidenbach
# @ohadmo - Ohad Mosafi
# @polinabinder1 - Polina Binder
# @pstjohn - Peter St. John
# @sichu2023 - Simon Chu
# @skothenhill-nv - Steven Kothen-Hill
# @trvachov - Timur Rvachov
# @yzhang123 - Yang Zhang


#
## LEGAL
#
LICENSE @dorotat-nv @jstjohn @malcolmgreaves @trvachov
license_header @dorotat-nv @jstjohn @malcolmgreaves @trvachov


#
## DOCUMENTATION
#
README.md @dorotat-nv @jstjohn @malcolmgreaves @pstjohn
docs @dorotat-nv @jstjohn @malcolmgreaves @pstjohn
# These 2 are symlinks: actual content is under docs/
CODE-REVIEW.md @jstjohn @malcolmgreaves @pstjohn @trvachov
CONTRIBUTING.md @jstjohn @malcolmgreaves @pstjohn @trvachov
docs/CODE-REVIEW.md  @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov
docs/CONTRIBUTING.md @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov


#
## INFRASTRUCTURE
#
.gitignore @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.dockerignore @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.devcontainer @dorotat-nv @malcolmgreaves @pstjohn
CODEOWNERS @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov
Dockerfile @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
justfile  @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
internal/ @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
3rdparty       @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
pyproject.toml @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-cve.txt @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-dev.txt @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-test.txt @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
tach.yml @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.secrets.baseline @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
ci/ @dorotat-nv @malcolmgreaves @pstjohn
.nspect-allowlist.toml @dorotat-nv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
VERSION @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @trvachov

#
## LIBRARY CODE
#
scripts @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-fw @DejunL @dorotat-nv @farhadrgh @guoqing-zhou @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-testing @dorotat-nv @farhadrgh @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-core @DejunL @dorotat-nv @farhadrgh @guoqing-zhou @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-llm @farhadrgh @dorotat-nv @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-geometric @DejunL @guoqing-zhou @jstjohn @malcolmgreaves

sub-packages/bionemo-example_model @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-geneformer @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-scdl @jstjohn @malcolmgreaves @polinabinder1 @skothenhill-nv
